.div-outer {
    margin: 100px 15% 100px 0;
    padding: 0 10%;
}

.p-review {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    color: #333333;
}

.div-reviewer {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.img-reviewer {
    border-radius: 12px;
    width: 82px;
}

.div-reviewer-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}

.p-name {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}

.p-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #828282;
    margin-top: 12px;
}

@media (max-width: 768px) {
    .div-outer {
        margin: 50px 0 100px 0;
        padding: 0 10px;
    }

    .p-review {
        font-size: 24px;
        line-height: 36px;
    }

    .div-reviewer {
        margin-top: 18px;
    }
}
